@import url('./animation.css');

form {
    display: flex;
}


.left_inputs, .right_inputs {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.seperator {
    width: 1px;
    background-color: #d1d1d1;
    height: 440px;
    margin: 0 55px;
}

.title {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #2a3647;
    gap: 8px;

}

.highlighted_object {
    display: flex;
}

.title span,
.highlighted_object span {
    color: #2A3647;
    font-size: 20px;
}

.title_input {
    display: flex;
    padding: 12px 21px;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    gap: 10px;
    width: 440px;
    min-height: 24px;
}

.title_input::placeholder {
    color: #d1d1d1;
    font-family: 'Inter', sans-serif;
}

textarea::placeholder {
    color: #d1d1d1;
    font-family: 'Inter', sans-serif;
}

.description textarea {
    height: 120px;
}

.prio_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prio {
    display: flex;
    gap: 16px;
    
}

.prio button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    padding: 16px 10px;
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    width: 136px;
}

.subtasks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    padding: 12px 16px;
}

.subtasks input {
    border: none;
    padding: 0;
}


.button_container {
    display: flex;
    gap: 16px;
}

.primary_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 183px;
    height: 56px;
    border-radius: 8px;
    gap: 10px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    border: none;
}

.primary_button img {
    width: 15px;
    height: 11px;
}

.primary_button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.secondary_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 56px;
    border-radius: 8px;
    gap: 10px;
    color: #2A3647;
    font-size: 21px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    border: 1px solid;
    border-color: #2A3647;
    background-color: white;
    cursor: pointer;
}

.secondary_button img {
    width: 10px;
    height: 10px;
}

.secondary_button:hover {
    border: 1px solid #29ABE2;
    color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.add_task_footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 50px;
}

.highlighted {
    color: #FF8190;
}

.prio_input {
    display: none;
}

.prio_input_label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 136px;
    height: 56px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    cursor: pointer;
    background-color: white;
}

.prio_input_label:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
}

#prio_urgent:checked + label,
#edit_prio_urgent:checked + label {
    background-color: #FF3D00;
}

.prio_urgent_icon {
    width: 20px;
    height: 14px;
    background-image: url('../assets/img/prio_alta.png');
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

/* Stil für das Bild, wenn die Checkbox ausgewählt ist */
#prio_urgent:checked + .prio_input_label .prio_urgent_icon {
    background-image: url('../assets/img/prio_alta_white.png');
}

#prio_urgent:checked + .prio_input_label .prio_urgent_text {
    color: white;
    font-weight: 700;
    font-size: 21px;
}

#prio_medium:checked + label,
#edit_prio_medium:checked + label {
    background-color: #FFA800;
    color: white;
}

.prio_medium_icon {
    width: 20px;
    height: 7px;
    background-image: url('../assets/img/prio_media.png');
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

#prio_medium:checked + .prio_input_label .prio_medium_icon {
    background-image: url('../assets/img/prio_media_white.png');
}

#prio_medium:checked + .prio_input_label .prio_medium_text {
    color: white;
    font-weight: 700;
    font-size: 21px;
}

#prio_low:checked + label,
#edit_prio_low:checked + label {
    background-color: #7AE229;
    color: white;
}

.prio_low_icon {
    width: 20px;
    height: 14px;
    background-image: url('../assets/img/prio_baja.png');
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

#prio_low:checked + .prio_input_label .prio_low_icon{
    background-image: url('../assets/img/prio_baja_white.png');
}

#prio_low:checked + .prio_input_label .prio_low_text{
    color: white;
    font-weight: 700;
    font-size: 21px;
}

#select_contacts option {
    padding: 5px;
    cursor: pointer;
  }
  
.datalist_button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 465px;
    min-height: 56px;
    position: sticky;
    margin-top: 10px;
}

.datalist_button img {
    width: 31px;
    height: 22px;
}

#contact_datalist {
    margin-top: 27px;
}

#assigned_to_input {
    z-index: 100;
}

.datalist_container{
    display: none;
    flex-direction: column;
    justify-content: center;
    max-width: 483px;
    max-height: 210px;
    overflow-y: scroll;
    border: 1px solid #d1d1d1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 99;
    font-size: 19px;
    background-color: white;
    position: absolute;
    top: 534px;
}   

.datalist_contact_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}

.initials_in_datalist {
    background-color: #1FD7C1;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
  }