@keyframes moveJoinLogo {
    from {
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-color: rgba(246, 247, 248, 1);
    } to {
        width: 100px;
        height: 122px;
        top: 80px;
        left: 77px;
        background-color: rgba(246, 247, 248, 0);
    }
}

@keyframes shrinkJoinLogo {
    from {
        width: 25%;
        height: 60%;
    } to {
        width: 100px;
        height: 122px;
    }
}