@keyframes moveJoinLogo {
    from {
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-color: rgba(246, 247, 248, 1);
    } to {
        width: 100px;
        height: 122px;
        top: 80px;
        left: 77px;
        background-color: rgba(246, 247, 248, 0);
    }
}

@keyframes shrinkJoinLogo {
    from {
        width: 25%;
        height: 60%;
    } to {
        width: 100px;
        height: 122px;
    }
}

@keyframes hoverScale {
    0% {
      transform: scaleX(1) scaleY(1);
    }
    100% {
      transform: scaleX(1.05) scaleY(1.05);
    }
}

@keyframes hoverScaleFromLeft {
    0% {
      transform: scaleX(1) scaleY(1);
      transform-origin: left;
    }
    100% {
      transform: scaleX(1.05) scaleY(1.05);
      transform-origin: left;
    }
}

@keyframes hoverScaleFromRight {
    0% {
      transform: scaleX(1) scaleY(1);
      transform-origin: right;
    }
    100% {
      transform: scaleX(1.05) scaleY(1.05);
      transform-origin: right;
    }
  }

  @keyframes hoverScaleFromTopLeft {
    0% {
      transform: scaleX(1) scaleY(1);
      transform-origin: top left;
    }
    100% {
      transform: scaleX(1.05) scaleY(1.05);
      transform-origin: top left;
    }
  }

@keyframes slideIn {
  from {
    background-color:rgba(0, 0, 0, 0);
    transform: translate(150%);
  } to {
    background-color:rgba(0, 0, 0, 0.25);
    transform: translate(0%);
  }
}

@keyframes slideOut {
  from {
    background-color:rgba(0, 0, 0, 0);
    transform: translate(0%);
  } to {
    background-color:rgba(0, 0, 0, 0.25);
    transform: translate(150%);
  }
}

@keyframes slideUp {
  from {
    background-color:rgba(0, 0, 0, 0);
    transform: translateY(100%);
  } to {
    background-color:rgba(0, 0, 0, 0.25);
    transform: translateY(0%);
  }
}

@keyframes slideDown {
  from {
    background-color:rgba(0, 0, 0, 0.25);
    transform: translateY(0%);
  } to {
    background-color:rgba(0, 0, 0, 0);
    transform: translateY(100%);
  }
}

.slide_in {
  animation: slideIn 0.5s ease;
}

.slide_out {
  animation: slideOut 0.5s ease;
}

.slide_up {
  animation: slideUp 0.5s ease;
}

.slide_down {
  animation: slideDown 0.5s ease;
}