@import url('./add_task.css');
@import url('./animation.css');

html {
    overflow-x: hidden;
}

section {
    position: absolute;
    top: 206px;
    left: 328px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.complete_board_container {
    display: flex;
    flex-direction: column;
}

.headline_container {
    justify-content: space-between;
}

.close_add_task_button {
    background-image: url('../assets/img/x.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    background-color: white;
    border: none;
    cursor: pointer;
}


.title_search_add_container {
    display: flex;
    justify-content: space-between;
}

.search_and_add_container {
    display: flex;
    Gap: 32px;
}


.primary_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 183px;
    height: 56px;
    border-radius: 8px;
    gap: 10px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    border: none;
}

.primary_button img {
    width: 15px;
    height: 11px;
}

.primary_button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.add_container img {
    width: 18.67px;
    height: 18.67px;
}

.board_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    padding: 8px 16px;
    height: 38px;
}

.board_section input {
    border: none;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.board_section input:focus {
    outline: none;
}

.board_section input::placeholder {
    color:#D1D1D1;
}

.board_section img {
    background-color: white;
}

.board_section_input {
    display: flex;
    padding: 12px 21px;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    gap: 10px;
    width: 312px;
    height: 31px;
}

.progress_container {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.progressbar {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 54px;
    flex-wrap: wrap;
}

.board_add_button {
    background-color: #F6F7F8;
    gap: 10px;
    padding: 3px;
    height: 24px;
    width: 24px;
    border-radius: 8px;
}


.progress_button {
    display: flex;
    justify-content: space-between;
    width: 244px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.progress_button img {
    cursor: pointer;
}

.drag_area {
    width: 244px;
    min-height: 300px;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.2);
}

.no_tasks_to_do {
    height: 48px;
    width: 246px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #E7E7E7;
    border: 1px dotted #A8A8A8;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #00000029;
    cursor: pointer;
}

.no_tasks_to_do span {
    font-family: 'Open Sans', sans-serif;
    color: #A8A8A8;

}

.task_card {
    background-color: white;
    border-radius: 24px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    cursor: pointer;
}

.user_story {
    width: 88px;
    background-color: #0038FF;
    border-radius: 8px;
    padding: 4px 16px;
    display: flex;
    justify-content: center;
    gap: 10px;
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.task_information {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 220px;
}

.task_information h2 {
    font-size: 16px;
}

.task_information p {
    font-size: 16px;
    color: #A8A8A8;
}

.subtask_progress_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subtask_progressbar {
    width: 128px;
    height: 8px;
    background-color: #F4F4F4;
    border-radius: 8px;
}

.current_subtask_progress {
    background-color: #4589FF;
    width: 50%;
    height: 8px;
    border-radius: 16px;
}

.subtask_progress_container span {
    font-size: 12px;
}

.task_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task_member_container {
    display: flex;
}

.task_member {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    margin-right: -6px;
}

.first_member {
    background-color: orange;
}

.second_member {
    background-color: #1FD7C1;
}

.third_member {
    background-color: #462F8A;
}

.task_urgency_information {
    width: 17px;
    height: 6px;
    background-image: url('../assets/img/prio_media.png');
    background-repeat: no-repeat;
    background-position: center;
}

.add_task_background {
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-color:rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    display: none;
}

.add_task_slide_card {
    background-color: white;
    width: 1116px;
    height: 815px;
    z-index: 99;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 115px;
    gap: 16px;
}