@import url('./add_task.css');
@import url('./animation.css');

html {
    overflow-x: hidden;
}

section {
    position: absolute;
    top: 170px;
    left: 300px;
    right: 60px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.complete_board_container {
    display: flex;
    flex-direction: column;
}

.headline_container {
    justify-content: space-between;
}

.close_add_task_button {
    background-image: url('../assets/img/x.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    border: none;
    cursor: pointer;
}


.title_search_add_container {
    display: flex;
    flex-direction: column;
}

.board_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_and_add_container {
    display: flex;
    Gap: 32px;
}


.primary_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 183px;
    height: 56px;
    border-radius: 8px;
    gap: 10px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 4px 0px #00000026;

}

#save_task_button {
    width: 90px !important;
}

.primary_button img {
    width: 15px;
    height: 11px;
}

.primary_button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.add_container img {
    width: 18.67px;
    height: 18.67px;
}

.task_list_headlines {
    display: flex;
    margin-top: 54px;
    gap: 106px;
    margin-bottom: 8px;
}

.task_list_headlines span {
    color: #42526E;
    font-size: 20px;
    font-weight: 700;
}

.board_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    padding: 8px 16px;
    height: 38px;
}

.board_section input {
    border: none;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.board_section input:focus {
    outline: none;
}

.board_section input::placeholder {
    color:#D1D1D1;
}

.board_section img {
    background-color: white;
}

.board_section_input {
    display: flex;
    padding: 12px 21px;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    gap: 10px;
    width: 312px;
    height: 31px;
}

.progress_container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    height: 600px;
}

.progressbar {
    display: flex;
    gap: 88px;
    flex-wrap: wrap;
    overflow-y: auto;
}

.board_add_button {
    background-color: #F6F7F8;
    gap: 10px;
    padding: 3px;
    height: 24px;
    width: 24px;
    border-radius: 8px;
}


.progress_button {
    display: flex;
    justify-content: space-between;
    width: 244px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.progress_button img {
    cursor: pointer;
}

.drag_area {
    width: 244px;
    height: 600px;
}

.drag-area-highlight {
    border: 1px dotted #A8A8A8;
    border-radius: 24px;
}

.no_tasks_to_do {
    height: 48px;
    width: 246px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #E7E7E7;
    border: 1px dotted #A8A8A8;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #00000029;
    cursor: pointer;
}

.no_tasks_to_do span {
    font-family: 'Open Sans', sans-serif;
    color: #A8A8A8;

}

.task_card {
    background-color: white;
    border-radius: 24px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 16px;
    box-shadow: 0px 0px 10px 3px #00000014;

}

.user_story {
    width: 88px;
    background-color: #0038FF;
    border-radius: 8px;
    padding: 4px 16px;
    display: flex;
    justify-content: center;
    gap: 10px;
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.task_information {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 220px;
}

.task_information h2 {
    font-size: 16px;
    color: #2A3647;
}

.task_information p {
    font-size: 16px;
    color: #A8A8A8;
}

.subtask_progress_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subtask_progressbar {
    width: 128px;
    height: 8px;
    background-color: #F4F4F4;
    border-radius: 8px;
}

.subtask_count {
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: 12px;
}

.current_subtask_progress {
    background-color: #4589FF;
    width: 50%;
    height: 8px;
    border-radius: 16px;
}

.subtask_progress_container span {
    font-size: 12px;
    color: black;
}

.task_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task_member_container {
    display: flex;
}

.task_member {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    margin-right: -6px;
}

.task_member span {
    color: white;
}



.task_urgency_information {
    width: 17px;
    height: 6px;
    background-image: url('../assets/img/prio_media.png');
    background-repeat: no-repeat;
    background-position: center;
}

.add_task_background {
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-color:rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    display: none;
}

.add_task_slide_card {
    background-color: white;
    width: 1116px;
    height: 815px;
    z-index: 99;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 115px;
    gap: 16px;
}

#task_card_opened {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.25);
}

.close_button_container {
    position: absolute;
    top: 53px;
    right: 39px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.close_button_container:hover,
.close_add_task_button:hover {
    background-color: #D9D9D9;
}

#current_task_card {
    width: 525px;
    background-color: white;
    border-radius: 30px;
    padding: 48px 40px;
    position: relative;
    transform: translate(200%);
}

.task_details {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.task_details h2 {
    font-weight: 700;
    font-size: 61px;
}

.task_details p, .task_details span {
    font-size: 20px;
}

.task_details span {
    color: #2A3647;
}

.task_details_info_container {
    display: flex;
    gap: 25px;
}

.priority_container {
    display: flex;
    gap: 10px;
    align-items: center;
}

#edit_task_card {
    display: none;
}

.edit_task_card_form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 772px;
    overflow-y: auto;
    position: relative;
    top: 48px;
    padding-right: 18px;
}

.save_task {
    display: flex;
    justify-content: end;
}

.subtask_container {
    margin-top: 15px;   
    display: flex;
    flex-direction: column;
}

.subtask {
    display: flex;
    left: 8px;
    gap: 16px;
}

.prio_input {
    display: none;
}

.prio_input_label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 136px;
    height: 56px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    cursor: pointer;
}

.prio_input_label:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
}

#prio_urgent:checked + label,
#edit_prio_urgent:checked + label {
    background-color: #FF3D00;
}

.prio_urgent_icon {
    width: 20px;
    height: 14px;
    background-image: url('../assets/img/prio_alta.png');
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

/* Stil für das Bild, wenn die Checkbox ausgewählt ist */
#prio_urgent:checked + .prio_input_label .prio_urgent_icon,
#edit_prio_urgent:checked + .prio_input_label .prio_urgent_icon {
    background-image: url('../assets/img/prio_alta_white.png');
}

#prio_urgent:checked + .prio_input_label .prio_urgent_text,
#edit_prio_urgent:checked + .prio_input_label .prio_urgent_text {
    color: white;
    font-weight: 700;
    font-size: 21px;
}

#prio_medium:checked + label,
#edit_prio_medium:checked + label {
    background-color: #FFA800;
    color: white;
}

.prio_medium_icon {
    width: 20px;
    height: 7px;
    background-image: url('../assets/img/prio_media.png');
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

#prio_medium:checked + .prio_input_label .prio_medium_icon,
#edit_prio_medium:checked + .prio_input_label .prio_medium_icon {
    background-image: url('../assets/img/prio_media_white.png');
}

#prio_medium:checked + .prio_input_label .prio_medium_text,
#edit_prio_medium:checked + .prio_input_label .prio_medium_text {
    color: white;
    font-weight: 700;
    font-size: 21px;
}

#prio_low:checked + label,
#edit_prio_low:checked + label {
    background-color: #7AE229;
    color: white;
}

.prio_low_icon {
    width: 20px;
    height: 14px;
    background-image: url('../assets/img/prio_baja.png');
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

#prio_low:checked + .prio_input_label .prio_low_icon,
#edit_prio_low:checked + .prio_input_label .prio_low_icon {
    background-image: url('../assets/img/prio_baja_white.png');
}

#prio_low:checked + .prio_input_label .prio_low_text,
#edit_prio_low:checked + .prio_input_label .prio_low_text {
    color: white;
    font-weight: 700;
    font-size: 21px;
}

.edit_delete_options {
    display: flex; 
    justify-content: flex-end;
    gap: 15px;
}

.open_task_delete, .open_task_edit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

#edit_task_description {
    max-width: 439px;
}

.seperator_edit_delete {
    display: flex;
    width: 1px;
    height: 24px;
    background-color: #D1D1D1;
}

.delete_img_task_open {
    background-image: url("../assets/img/delete.png");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

.open_task_delete:hover .delete_img_task_open {
    background-image: url("../assets/img/deleteBlue.png");
    background-position: center;
    background-repeat: no-repeat;
}

.open_task_delete:hover .delete_text {
    color: #29ABE2!important;
}

.edit_img_task_open {
    background-image: url("../assets/img/editDark.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.open_task_edit:hover .edit_img_task_open {
    background-image: url("../assets/img/editBlue.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px;
}

.open_task_edit:hover .edit_text {
    color: #29ABE2!important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2A3647;
}


/* ===========================Dropdown Member============================== */
#select_contacts option {
    padding: 5px;
    cursor: pointer;
  }
  
.datalist_button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 465px;
    min-height: 56px;
    bottom: 4px;
    position: sticky;
    margin-top: 10px;
}

.datalist_button img {
    width: 31px;
    height: 22px;
}

#contact_datalist {
    margin-top: 110px;
}

.datalist_container{
    display: none;
    flex-direction: column;
    justify-content: center;
    max-width: 483px;
    max-height: 300px;
    overflow-y: scroll;
    position: relative;
    top: -9px;
    border: 1px solid #d1d1d1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 99;
    font-size: 19px;
}   

.datalist_contact_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.initials_in_datalist {
    background-color: #1FD7C1;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
  }

  .assigned_contact {
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
  }

  .assigned_contacts {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .assigned_initials {
    background-color: #1FD7C1;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
  }

  .assigned_initials_board {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    margin-right: -6px;
    background-color: #1FD7C1;
  }



#confirm_delete_task_container {
    position: absolute;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
}

#confirm_delete_task_subcontainer {
    border-radius: 20px;
    background-color: #2A3647;
    padding: 24px 24px;
    text-align: center;
}

#confirm_delete_task_subcontainer span {
    color: white;
    font-weight: 700;
    font-size: 21px;
}

#confirm_delete_task_button_container {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}

#confirm_delete_task_button {
    border: 1px solid white;
    box-shadow: 0px 0px 4px 0px #7c7c7c26 !important;
    width: 110px;
}

.priority_urgent {
    background-image: url('../assets/img/prio_alta.png');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-position: center;
}

.priority_medium {
    background-image: url('../assets/img/prio_media.png');
    background-repeat: no-repeat;
    width: 17px;
    height: 6px;
    background-position: center;
}

.priority_low {
    background-image: url('../assets/img/prio_baja.png');
    background-repeat: no-repeat;
    width: 17px;
    height: 12px;
    background-position: center;
}

#assigned_contacts_edit_container {
    display: flex;
    gap: 12px;
}