
.contacts_bar {
    width: 456px;
    height: 928px;
    position: absolute;
    top: 136px;
    left: 232px;
    background-color: white;
    box-shadow: 4px 4px 4px 0px #0000001A;
}

.add_new_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 101px;
    border-top: 1px solid #F6F7F8;
    position: relative;
}

.add_new_contact::before {
    content: "";
    position: absolute;
    top: -10px; /* Ändere diesen Wert, um den Abstand nach oben anzupassen */
    left: 0;
    right: 0;
    height: 2px; /* Ändere diesen Wert, um die Höhe des Schattens anzupassen */
    box-shadow: 0px 9px 3px rgba(0, 0, 0, 0.1); /* Hier kannst du den Schatten anpassen */
}

.add_new_contact button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 352px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    background-color: #2A3647;
    color: white;
    padding: 12px 0px;
    gap: 16px;
    font-size: 21px;
    font-weight: 700;
}

.add_new_contact button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: none;
}


.contacts_scrollbar {
    width: 24px;
    
    left: 432px;
    top: 13px;
    position: absolute;
    background-color: white;
}

.img_scrollbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 24px;
    height: 900px;
}

.alphabet_container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 280px;
    height: 58px;
    padding: 17px 36px;
    gap: 8px;
}


.show_contacts {
    display: flex;
    align-items: center;
    flex-direction: column ;
    padding: 32px 24px;
    max-height: 764px;
    max-width: 456px;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 10px;
}

.show_contacts span {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.horizontal_seperater {
    width: 352px;
    border: 1px solid #d1d1d1;
}


.contact {
    display: flex;
    justify-content: space-between;
    width: 280px;
    height: 78px;
    padding: 15px 24px;
    gap: 35px;
    cursor: pointer;
    border-radius: 10px;
}

.contact:hover {
    background-color: #F6F7F8;
}

.member_shortinfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task_member {
    border-radius: 50%;
    height: 42px;
    width: 42px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
}

.first_member {
    background-color: #FF7A00;
}


.title_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 575px;
    height: 73px;
    position: absolute;
    top: 206px;
    left: 735px;
    gap: 30px;
}

.vertical_seperator_contacts {
    height: 59px;
    border: 3px solid #29ABE2;
}

.title_header h1 {
    font-weight: 700;
}

.title_header span {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: 27px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}