@import url('./animation.css');

html {
    overflow: hidden;
}


.contacts_bar {
    width: 456px;
    height: 928px;
    position: absolute;
    top: 99px;
    left: 232px;
    background-color: white;
    box-shadow: 4px 4px 4px 0px #0000001A;
}

.add_new_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 101px;
    border-top: 1px solid #F6F7F8;
    position: relative;
}

.add_new_contact::before {
    content: "";
    position: absolute;
    top: -10px; /* Ändere diesen Wert, um den Abstand nach oben anzupassen */
    left: 0;
    right: 0;
    height: 2px; /* Ändere diesen Wert, um die Höhe des Schattens anzupassen */
    box-shadow: 0px 9px 3px rgba(0, 0, 0, 0.1); /* Hier kannst du den Schatten anpassen */
}

.add_new_contact button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 352px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    background-color: #2A3647;
    color: white;
    padding: 12px 0px;
    gap: 16px;
    font-size: 21px;
    font-weight: 700;
}

.add_new_contact button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: none;
}

::-webkit-scrollbar {
    width: 16px;
    background-color: #A8A8A8;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
    border-radius: 8px;
}

.alphabet_container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 280px;
    height: 58px;
    padding: 17px 36px;
    gap: 8px;
}

.alphabet_container  span {
    color: black;
}

.show_contacts {
    display: flex;
    align-items: center;
    flex-direction: column ;
    padding: 32px 24px;
    max-height: 764px;
    max-width: 456px;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 10px;
}

.show_contacts span {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.horizontal_seperater {
    width: 352px;
    border: 1px solid #d1d1d1;
}


.contact {
    display: flex;
    width: 305px;
    height: 78px;
    padding: 15px 24px 15px 24px;
    margin-left: -3px;
    gap: 35px;
    cursor: pointer;
    border-radius: 10px;
}

.contact a {
    color: #007CEE;
}

.contact:hover {
    background-color: #F6F7F8;
}

.member_shortinfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.member_shortinfo span {
    color: black;
}

.task_member {
    border-radius: 50%;
    height: 42px;
    width: 42px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
}

.first_member {
    background-color: #FF7A00;
}

.title_header_container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 206px;
    left: 735px;
    gap: 30px;
}

.title_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 575px;
    height: 73px;
    gap: 30px;
}

.vertical_seperator_contacts {
    height: 59px;
    border: 3px solid #29ABE2;
}

.title_header h1 {
    font-weight: 700;
}

.title_header span {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: 27px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #2A3647;
}

.contact_information_card {
    display: none;
    flex-direction: column;
    gap: 30px;
    transform: translate(100%);
}

.name_container {
    display: flex;
    align-items: center;
    gap: 54px;
}

.name_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0px 0px 4px 0px #0000001A;
    background-color: #007CEE;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 47px;
    font-weight: 500;
}

.edit_delete_container {
    display: flex;
    gap: 18px;
    align-items: center;
    width: 159px;
}

.edit_container, .delete_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: 'Inter', sans-serif;
    color: #2a3647;
    cursor: pointer;
}

.edit_container span,
.delete_container span {
    color: #2A3647;
}

.edit_container:hover, .delete_container:hover {
    color: #29abe2;
    font-weight: 700;
}

.name {
    font-family: 'Inter', sans-serif;
    font-size: 47px;
    font-weight: 500;
    color: black;
}

.icon_container {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #f0f0f0;
}

.icon_container img {
    width: 100px;
    height: 100px;
    transition: fill 0.3s;
}

.icon-container:hover svg {
    fill: blue;
}

.contact_information_title {
    display: flex;
    align-items: center;
    width: 207px;
    height: 74px;
    gap: 59px;
}

.contact_information_title span {
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.email_phone_container {
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 128px;
    gap: 22px;
}

.email_container, .phone_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#contact_email {
    color: #007CEE;
    cursor: pointer;
}

#phone_number {
    color: black;
}



.email_container span, .phone_container span  {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: black;
}

#card_background {
    transform: translate(150%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    display: none;
    background-color:rgba(0, 0, 0, 0.25);
}

.add_new_contact_card {
    width: 1262px;
    height: 540px;
    border-radius: 30px;
    z-index: 99;
    box-shadow: 0px 0px 4px 0px #0000001A;
    display: flex;
}

.left_side {
    background-color: #2A3647;
    padding: 66px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    gap: 12px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.left_side img {
    width: 56px;
    height: 66px;
}

.left_side h2 {
    font-size: 61px;
    font-weight: 700;
}

.left_side p {
    font-size: 27px;
}

.left_side_seperator {
    width: 90px;
    height: 3px;
    background-color: #29ABE2;
}

.right_side {
    display: flex;
    align-items: center;
    padding: 0px 80px;
    position: relative;
    background-color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.close_contact_card_button {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 40px;
    right: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background-color: white;
}

.close_contact_card_button:hover {
    background-color: #D9D9D9
}

.add_new_contact_profile_picture {
    background-color: #D1D1D1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0px 0px 4px 0px #0000001A;

}

.add_new_contact_input_container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-left: 60px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 45px;
}

form input {
    width: 422px;
    border: none;
    display: flex;
    gap: 10px;
    height: 100%;
}

form input::placeholder {
    color: #D1D1D1;
    font-size: 20px;
    align-items: center;
    
}

form input:focus {
    outline: none;
}

.input_container {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    position: relative;
    height: 50px;
    padding: 0px 12px;
}

.input_icon_container {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 8px;
}

.add_new_contact_button_container {
    display: flex;
    gap: 24px;
    margin-top: 12px;
}

.primary_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 214px;
    height: 56px;
    border-radius: 8px;
    gap: 10px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    border: none;
}

.primary_button img {
    width: 15px;
    height: 11px;
}

.primary_button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.secondary_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 126px;
    height: 56px;
    border-radius: 8px;
    gap: 10px;
    color: #2A3647;
    font-size: 21px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    border: 1px solid;
    border-color: #2A3647;
    background-color: white;
    cursor: pointer;
}

.secondary_button img {
    width: 10px;
    height: 10px;
}

.secondary_button:hover {
    border: 1px solid #29ABE2;
    color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}