header {
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: white;
}

.header_container {
    height: 60px;
    padding: 20px 40px 20px 348px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #0000001A;

    font-family: 'Inter', sans-serif;
}

.join_description {
    font-family:'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.right_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 104px;
    height: 56px;
    gap: 16px;
}

.help_container {
    height: 32px;
    width: 32px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help_container img:hover {
    transform: scale(1.1);
}

.user_profile_initials {
    height: 48px;
    width: 48px;

    background-color: white;
    border: 3px solid #2A3647;
    border-radius: 50%;

    color: #29ABE2;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.user_profile_initials:hover {
    background-color: rgba(12, 46, 98, 0.122);
}

#log_out_box {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 100px;
    right: 25px;
    background-color: #2A3647;

    padding: 20px 0px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

#log_out_box button{
    font-family: 'Inter', sans-serif;
    color: #CDCDCD;
    background-color: #2A3647;
    border: none;
    padding: 8px 16px;
    margin: 0px 1px;
    width: 126px;
    cursor: pointer;
    text-align:start;
}

#log_out_box button:hover {
    background: #2A3D59;
    transform: scale(1.01);
}

@media screen and (max-width: 950px) {
    .header_container {
        padding: 0;
        height: 100px;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .join_description {
        display: none;
    }

    .help_container {
        display: none;
    }

    .mobile_joinlogo img {
        width: 32px;
        height: 39px;
    }

    .right_section {
        width: 100%;
    }

    
}