header {
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: white;
}

.header_container {
    height: 60px;
    padding: 20px 40px 20px 348px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #0000001A;

    font-family: 'Inter', sans-serif;
}

.join_description {
    font-family:'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.right_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 104px;
    height: 56px;
    gap: 16px;
}

.help_container {
    height: 32px;
    width: 32px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help_container img:hover {
    transform: scale(1.1);
}

.user_profile_initials {
    height: 48px;
    width: 48px;

    background-color: white;
    border: 3px solid #2A3647;
    border-radius: 50%;

    color: #29ABE2;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.user_profile_initials:hover {
    background-color: rgba(12, 46, 98, 0.122);
}