.help_list {
    display: flex;
    gap: 35px;
}

.help_list span {
    font-size: 27px;
    font-weight: 700;
}

h1 {
    font-size: 61px;
}

.help_header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
