main {
    font-family: 'Inter', sans-serif;
    color: black;
    position: absolute;
    top: 206px;
    left: 328px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-right: 70px;
    padding-bottom: 20px;
}

.help_list {
    display: flex;
    gap: 35px;
}

.help_list span {
    font-size: 27px;
    font-weight: 700;
}

h1 {
    font-size: 61px;
}

.help_header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
