@import url('./animation.css');
body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F6F7F8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join_logo_container {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(246, 247, 248, 0);

    position: absolute;
    top: 80px;
    left: 77px;

    animation: moveJoinLogo 1s ease-in-out;
}

.login_joinLogo {
    animation: shrinkJoinLogo 1s ease-in-out;
    width: 100px;
    height: 122px;
}

.signup_button {
    width: 91px;
    height: 49px;
    border-radius: 8px;
    padding: 15px 16px;
    gap: 10px;
    background-color: #2A3647;
    color: white;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.signup_container{
    display: flex;
    position: absolute;
    top:67px;
    right: 120px;
    height: 49px;
    width: 279px;
    gap: 35px;
}

.card {
    width: 422px;
    height: 397px;
    position: absolute;
    top: 265.5px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 48px 115px 48px 115px;
    border-radius: 30px;
    gap: 32px;

    box-shadow: 0px 0px 14px 3px #0000000A;
}

#go_back_to_login_card {
    position: absolute;
    top: 125px;
    left: 60px;
    background-color: white;
    border: none;
    height: 32px;
    width: 32px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#go_back_to_login_card:hover {
    background-color: #EEEEEE;
    border-radius: 50%
}

.signup_card {
    width: 422px;
    height: 630px;
    position: absolute;
    
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 48px 115px 48px 115px;
    border-radius: 30px;
    gap: 32px;

    box-shadow: 0px 0px 14px 3px #0000000A;
}

.headline_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 61px;
}

.h1_underline {
    height: 3px;
    width: 150px;
    background-color: #29ABE2;
    border-radius: 8px;
    margin-top: -25px;
}

.login_card a {
    text-decoration: none;
    color: black;
}

.login_input_container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.input_border{
    /* width: 422px; */
    height: 22px;
    border-radius: 10px;
    border: 1px solid;
    padding: 12px 21px;
    gap: 10px;
    border-color: #d1d1d1;
    display: flex;
    justify-content: space-between;
}

::placeholder {
    color: #D1D1D1;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

.input_border input {
    border: none;
    width: 100%;
    height: 100%;
}

.input_border input:focus {
    border: none;
    outline: none;
}

.login_icon_container {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accept_privatepolicy_container {
    display: flex;
    justify-content: center;
    gap: 8px; 
    cursor: pointer;
}

.accept_privatepolicy_container a {
    text-decoration: none;
    color: #29ABE2;
}

.login_remember_container {
    display: flex;
    margin-left: 37px;
    gap: 8px; 
    cursor: pointer;
}

.login_remember_container input {
    width: 16px;
    height: 16px;
    border: 2px solid #2A3647;
    border-radius: 3px;
}

.login_button_container {
    width: 322px;
    display: flex;
    justify-content: space-between;
}

.signup_button_container {
    width: 322px;
    display: flex;
    justify-content: center;
}

.primary_button {
    width: 110px;
    height: 48px;
    border-radius: 8px;
    gap: 10px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    border: none;
}

.primary_button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.secondary_button {
    width: 177px;
    height: 48px;
    border-radius: 8px;
    gap: 10px;
    color: #2A3647;
    font-size: 21px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    border: 1px solid;
    border-color: #2A3647;
    background-color: white;
    cursor: pointer;
}

.secondary_button:hover {
    border: 1px solid #29ABE2;
    color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.login_footer_links{
    display: flex;
    position: absolute;
    top: 870px;
    width: 246px;
    height: 35px;
    justify-content: space-around;
    
}

.login_footer_links a {
    color:#a8a8a8;
    text-decoration: none;
}