body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F6F7F8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_joinLogo {
    width: 100px;
    height: 122px;
    top:80px;
    left: 77px;
    position: absolute;
}

.signup_button {
    width: 91px;
    height: 49px;
    border-radius: 8px;
    padding: 15px 16px;
    gap: 10px;
    background-color: #2A3647;
    color: white;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.signup_container{
    display: flex;
    position: absolute;
    top:67px;
    right: 120px;
    height: 49px;
    width: 279px;
    gap: 35px;
}

.card {
    width: 422px;
    height: 397px;
    position: absolute;
    top: 265.5px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 48px 115px 48px 115px;
    border-radius: 30px;
    gap: 32px;

    box-shadow: 0px 0px 14px 3px #0000000A;
}

.headline_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 61px;
    /* text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px; */
}

.h1_underline {
    height: 3px;
    width: 150px;
    background-color: #29ABE2;
    border-radius: 8px;
}

.login_card a {
    text-decoration: none;
    color: black;
}

.login_input_container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.login_input_border{
    /* width: 422px; */
    height: 22px;
    border-radius: 10px;
    border: 1px solid;
    padding: 12px 21px;
    gap: 10px;
    border-color: #d1d1d1;
    display: flex;
    justify-content: space-between;
}

.login_input_border input {
    border: none;
}

.login_icon_container {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_remember_container {
    display: flex;
    margin-left: 37px;
    gap: 8px; 
}

.login_remember_container input {
    width: 16px;
    height: 16px;
    border: 2px solid #2A3647;
    border-radius: 3px;
    cursor: pointer;
}

.login_button_container {
    width: 322px;
    display: flex;
    justify-content: space-between;
}

.login_button {
    width: 110px;
    height: 48px;
    border-radius: 8px;
    gap: 10px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    cursor: pointer;

}

.guest_login_button {
    width: 177px;
    height: 48px;
    border-radius: 8px;
    gap: 10px;
    color: #2A3647;
    font-size: 21px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    border: 1px solid;
    border-color: #2A3647;
    background-color: white;
    cursor: pointer;
}

.login_footer_links{
    display: flex;
    position: absolute;
    top: 870px;
    width: 246px;
    height: 35px;
    justify-content: space-around;
    
}

.login_footer_links a {
    color:#a8a8a8;
    text-decoration: none;
}