body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F6F7F8;
}

.login_joinLogo {
    width: 100px;
    height: 122px;
    top:80px;
    left: 77px;
    position: absolute;
}

.signup_button {
    width: 91px;
    height: 49px;
    border-radius: 8px;
    padding: 15px 16px;
    gap: 10px;
    background-color: #2A3647;
    color: white;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.signup_container{
    display: flex;
    position: absolute;
    top:67px;
    left:1039px;
    height: 49px;
    width: 279px;
    gap: 35px;
}

.login_footer_links{
    display: flex;
    position: absolute;
    top: 870px;
    left: 597px;
    width: 246px;
    height: 35px;
    justify-content: space-around;
    
}

.login_footer_links a {
    color:#a8a8a8;
    text-decoration: none;
}

.login_card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login_card a {
    text-decoration: none;
    color: black;
}

.login_remember_container{
    display: flex;
}

.login_button {
    width: 110px;
    height: 48px;
    border-radius: 8px;
    padding: 15px 24px;
    gap: 10px;
    background-color: #2A3647;
    color: white;
    font-weight: 700;
    font-family: 'Inter', sans-serif;

}

.guest_login_button {
    width: 177px;
    height: 48px;
    border-radius: 8px;
    padding: 15px 24px;
    gap: 10px;
    color: #2A3647;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    border: 1px solid;
    border-color: #2A3647;
}

.login_input_border{
    width: 422px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid;
    padding: 12px 21px;
    gap:10px;
    border-color: #d1d1d1;

}
