@media screen and (max-width: 950px) {

   nav {
    display: flex;
    align-content: flex-end;
   }

    .join_description {
        display: none;
    }

    .card_container {
        position: absolute;
        width: 396px;
        height: 384px;
        left: calc(50% - 396px/2);
        top: calc(50% - 384px/2 + 1px);
    }

    .progress_card_container {
        position: absolute;
        width: 396px;
        height: 116px;
        left: 0px;
        bottom: 0px;
    }

    .progress_card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;

        width: 54px;
        height: 90px;
    }

    .header_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 16px;
        gap: 282px;
        position: absolute;
        width: 428px;
        height: 80px;
        left: 0px;
        top: 0px;
    }

}



