@media screen and (max-width: 950px) {

    .login_joinLogo {
        width: 64px;
        height: 78px;
        top: 30px;
        left: 30px;
        position: fixed;
    }

    .card {
        height: 500px;
        width: 90vw;
        background-color: #FFF;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 14px 3px #0000000a;
        padding: 0;
    }

    .headline_container {
        width: 139px;
        height: 72px;
        gap: 16px;
        font-size: 47px;
    }

    .headline_container h1 {
        font-size: 47px;
    }

    .login_input_container {
        width: 320px;
        height: 192px;
    }

    .signup_container {
        width: 292px;
        height: 49px;
        top: 800px;
        left: 70px;
        gap: 35px;
    }

    .login_button_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 21px;
    }

    .login_button_container button {
        width: 180px;
        height: 51px;
    }

    .login_footer_links {
        top: 890px;
        justify-content: left;
        gap: 20px;
    }
}