nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 232px;
    height: 100%;
    padding: 64px 0px 64px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #2A3647;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

span {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #CDCDCD;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.side_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 336px;
}

.menu_element_container {
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.menu_element_container:hover {
    background-color: #2A3D59;
}

.menu_element {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    height: 46px;
    width: 120px;
}

.menu_icons {
    height: 30px;
    width: 30px;
}

.side_nav_footer {
    height: 317px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.side_nav_footer a {
    text-decoration: none;
    color: #A8A8A8;
}

.side_nav_footer_link:hover {
    color: #29ABE2;
    transform: scaleX(1.03);
    transform-origin: 0% 25%;
}

.footer_link {
    width: 232px;
    height: 35px;
    display: flex;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_element_container {
    background-color: #2A3647;
}

.selected {
    background-color: #091931 !important;
}


@media screen and (max-width: 950px) {

    nav {
        width: 100%;
        height: 80px;
        padding: 16px 0;
        bottom: 0;
        justify-content: space-around; 
        align-items: center;
        box-shadow: none;
        gap: 0;
        top: 88%;
        z-index: 99;
    }

    .join_img {
        display: none;
    }

    .side_menu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        gap: 0px;
    }

    .menu_element_container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 105px;
        width: 105px;
         border-radius: 16px;
    }
   
    .menu_element {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 80px;
        flex-direction: column;
       
    }

    .menu_icons {
        height: 20px;
        width: 20px;
    }

    .side_nav_footer {
        height: auto;
        flex-direction: row;
        gap: 16px;
    }

    .footer_link {
       display: none;
    }

    nav span {
        text-align: center;
    }

}