@import url('./fonts.css');
@import url('./header.css');
@import url('./sidenav.css');
@import url('./help.css');

* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F6F7F8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    font-family: 'Inter', sans-serif;
    color: black;
    position: absolute;
    top: 206px;
    left: 328px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-right: 70px;
    padding-bottom: 20px;
}

.headline_container {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}