@import url('./fonts.css');
@import url('./header.css');
@import url('./sidenav.css');
@import url('./help.css');

html {
    overflow: hidden;
}

* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F6F7F8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    font-family: 'Inter', sans-serif;
    color: black;
    position: absolute;
    top: 206px;
    left: 328px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-right: 70px;
    padding-bottom: 20px;
}

.headline_container {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.signed_up_successfully_background {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    transform: translateY(100%);
    display: none;
}

.without_background {
    background-color: rgba(0, 0, 0, 0)!important;
}

.signed_up_successfully {
    height: 74px;
    padding: 0px 25px;
    display: flex;
    text-align: center;
    align-items: center;
    background-color:#2A3647;
    box-shadow: 0px 0px 4px 0px #00000026;
    color: white;
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.subtask_checkbox {
    z-index: -1;
    display: none;
    position: absolute;
}

.subtask_checkbox + label {
    background: url('../assets/img/unchecked.png') no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}

.subtask_checkbox:checked + label {
    background: url('../assets/img/checked.png') no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}

.join_description {
    color: black;
    font-size: 20px;
}