@media screen and (max-width: 950px) {
  
    .signup_card {
        height: 630px;
        background-color: #FFF;
        border-radius: 30px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 14px 3px #0000000a;
        padding: 0;
        top: 150px;
    }

    .signup_card h1 {
        font-size: 40px;
        margin-top: -67px;
    }

    #go_back_to_login_card img {
        top: -70px;
    }

    .headline_container {
        margin-top: -50px;
    }
}