@media screen and (max-width: 950px) {

    .back_to_contact_button {
        display: flex;
        position: fixed;
        top: -70px;
        margin-left: 330px;
        border: none;
        background-color: #F6F7F8;
    }

    .add_new_contact {
        display: none;
    }

    .contacts_bar {
        left: 0;
        top: 80px;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .title_header {
        align-items: flex-start;
        flex-direction: column;
        width: 100vw;
        margin-left: 50px;
        gap: 0;
        margin-top: 50px;
        background-color: #F6F7F8;
    }

    .title_header h1 {
        font-size: 47px;
    }

    .title_header span {
        font-size: 20px;
    }

    .title_header img {
        position: fixed;
        top: 20px;
        width: 90px;
        height: 2px;

    }

    .name_container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        gap: 25px;
        width: 100vw;
    }

    #contact_name {
        font-size: 36px;
    }

    .contact_information_title {
        display: flex;
        justify-content: flex-start;
        margin-left: 40px;
        margin-top: 30px;
    }

    .name_icon {
        width: 80px;
        height: 80px;
        padding: 10px;
    }

    .title_header button {
        display: none;
    }

    .email_container a {
        display: flex;
        justify-content: flex-start;
    }

    .phone_container a {
        display: flex;
        justify-content: flex-start;
    }

    .email_phone_container {
        width: 100vw;
        display: flex;
        justify-content: flex-start;
        padding-left: 40px;
    }

    .contact_information_card {
        background-color: #F6F7F8;

    }

    .complete_opened_contact_and_header {
        position: fixed;
        z-index: 99;
        height: 100vh;
        top: -125px;
        left: -735px;
        background-color: #F6F7F8;
    }

}





