@media screen and (max-width: 950px) {

    .add_new_contact {
        display: none;
    }

    .contacts_bar {
        left: 0;
        top: 80px;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

}





