@media screen and (max-width: 950px) {
    
    main {
        top: 0px;
        left: 10px;
        gap: 0;
        padding-right: 0;
        position: inherit;
    }

    .headline_container {
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
        margin-left: 16px;
        margin-top: 70px;
    }

    .headline_container img {
        display: none;
        width: 130px;
        height: 3px;
    }
    .headline_container h1 {
        font-size: 47px;
    }

    .greet_container h2 {
        display: none;
    }

    .greet_container h3 {
        display: none;
    }

    .horizontal_separator {
        display: flex!important;
    }

    .card_container {
        width: 396px;
    }

    .join360_main_content {
        gap: 20px;
    }

    .top_card_subcontainer {
        width: 396px;
        height: 110px;
        justify-content: space-between;
    }

    .to_do_card {
        width: 186px;
        height: 110px;
        padding: 38px, 19px, 38px, 19px;
        border-radius: 20px;
    }

    .edit_icon  {
        width: 40px;
        height: 40px;
    }

    .done_icon {
        width: 40px;
        height: 40px;
        background-size: contain
    }

    .to_do_counter {
        font-size: 47px;
    }

    .to_do_text {
        font-size: 14px;
    }

    .urgency_card {
        gap: 20px;
        border-radius: 20px;
    }

    .urgency_counter_container img {
        width: 40px;
        height: 40px;
    }

    .deadline_date {
        font-size: 16px;
    }

    .deadline_information {
        gap: 8px;
    }

    .progress_card_container {
        width: 396px;
        height: 116px;
    }

    .progress_card {
        width: 116px;
        height: 116px;
        gap: 5px;
        border-radius: 20px;
    }

    .progress_count {
        font-size: 47px;
    }

    .progress_title {
        font-size: 14px;
    }
}