@media screen and (max-width: 950px) {
    main {
        left: 0;
        position: relative;
        padding-right: 0;
        width: 396px;
        top: 130px;
    }

    .headline_container {
        width: 100%;
        position: fixed;
        background-color: #F6F7F8;
        height: 112px;
        top: 90px;
        z-index: 99;
    }

    .headline_container h1 {
        font-size: 47px;
    }

    .seperator {
        display: none;
    }

    form {
        display: block;
        margin-bottom: 190px;
        margin-top: 200px;
    }

    .highlighted_object span {
        font-size: 16px;
    }

    .title {
        margin-top: -4px;
    }

    .title span {
        font-size: 16px;
    }

    .prio_input_label {
        width: 121px;
        height: 41px;
        border-radius: 10px;
    }

    .title_input {
      width: 350px;
    }

    .description textarea {
        height: 88px;
    }

    .clear_button_desktop {
        display: none;
    }

    .add_task_footer {
        height: 88px;
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 689px;
        gap: 20px;
        background-color: #F6F7F8;
    }

    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .category_container_add_task {
        top: 848px;
        width: 392px;
    }

    .technical_task {
        width: 390px;
    }

    .user_story {
        width: 390px;
    }
    
  }