@media screen and (max-width: 950px) {
    .board h1 {
        font-size: 47px;
    }

    .mobile_board_button {
        background-color: #F6F7F8;
        gap: 10px;
        padding: 3px;
        height: 24px;
        width: 24px;
        border-radius: 8px;
    }

    .board_add_button {
        display: none;
    }

    .board {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 428px;
    }

    .no_tasks_to_do {
        display: flex;
        height: 263px;
    }

    section {
        top: 130px;
    }


    .delete_all_task_button {
        display: none;
    }

    .board_header {
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        margin-left: 40px;
        flex-direction: column;
        padding-left: 30px;
    }

    .add_container button {
        display: none;
    }

    .add_mobile_container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: #2a3647;

    }

    .search_and_add_container {
        justify-content: flex-start;
        flex-direction: column;
    }

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        right: 0;
    }

    .add_mobile_container button {
        border-style: none;
    }

    .progressbar {
        display: flex;
        gap: 0;
        margin-bottom: 115px;
        margin-left: 40px;
        
        margin-top: -50px;
    }

    .mobile_progress_bar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        left: 0;
        right: 0;
    }

    .progress_container {
        height: 100%;
        padding-left: 30px;
    }

    .todo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 16px;
        margin-top: 20px;
        width: 428px;
    }

    .inprogress {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 20px;
    }

    .await_feedback {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 20px;
    }

    .done {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 20px;
    }

    .progress_button {
        width: 85%;
    }

    .progress_button span {
        color: #2a3647;
        font-size: 27px;
        font-weight: 700;
    }

    .drag_area {
        display: flex;
        flex-direction: row;
        width: 428px;
        height: auto;
        gap: 20px;
        overflow-x: auto;
        overflow-y: hidden;
    }

    /* OPEN TASK */

    #current_task_card {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 5px;
        margin-right: 10px;
    }

    .close_button_container {
        top: 25px;
    }

    .task_details h3 {
        height: 20px;
    }

    .task_details h2 {
        font-size: 36px;
    }

    .task_details p {
        font-size: 16px;
    }

    .task_details span {
        font-size: 16px;
    }

    .task_details_info_container span {
        font-size: 16px;
    }

    .assigned_contact {
        gap: 14px;
    }

    .assigned_container_open_task_card {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #assigned_contacts {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }


    /* EDIT TASK */

    .edit_task_card_form {
        width: 100vw;
        margin-left: 67px !important;
        margin-right: 25px !important;
        margin-top: 20px;
        gap: 15px;
    }

    .title_input {
        width: 325px;
    }


}