<header>
    <div class="header_container">
        <span class="join_description">Kanban Project Management Tool</span>
        <div class="right_section">
            <a class="help_container" href="./help.html">
                <img src="./assets/img/help.png" alt="Help">
            </a>
            <div>
                <button id="user_profile_button" onclick="changeLogOutBoxState('open')" class="user_profile_initials">SM</button>
            </div>
            <div id="log_out_box">
                <button onclick="logOut()">Log out</button>
            </div>
        </div>
    </div>
</header>