    <nav>
        <a href="#">
            <img src="./assets/img/joinLogoLight.png" alt="Join Logo">
        </a>
        <div class="side_menu">
            <div class="menu_element_container">
                <div class="menu_element">
                    <div class="menu_icons center">                
                        <img src="./assets/img/summary.png" alt="Summary">
                    </div>
                    <a href="#">Summary</a>
                </div>
            </div>

            <div class="menu_element_container">
                <div class="menu_element">
                    <div class="menu_icons center">
                        <img src="./assets/img/edit_square.png" alt="Add Task">
                    </div>
                    <a href="#">Add Task</a>
                </div>
            </div>

            <div class="menu_element_container">
                <div class="menu_element">
                    <div class="menu_icons center">
                        <img src="./assets/img/board.png" alt="Board">
                    </div>
                    <a href="#">Board</a>
                </div>
            </div>

            <div class="menu_element_container">
                <div class="menu_element">                
                    <div class="menu_icons center">
                    <img src="./assets/img/perm_contact_calendar.png" alt="Contacts">
                </div>
                <a href="#">Contacts</a></div>
            </div>
        </div>
    
        <div class="side_nav_footer">
            <a class="side_nav_footer_link" href="PrivacyPolicy.html">Privacy Policy</a>
            <a class="side_nav_footer_link" href="#">Legal Notice</a>
        </div>
    </nav>