<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="css/sidenav.css">
    <title></title>
</head>
<body>
    <nav>
        <a href="../../summary.html">
            <img src="./assets/img/joinLogoLight.png" alt="Join Logo">
        </a>
        <div class="side_menu">
            <a href="../../summary.html">
                <div class="menu_element_container" onclick="toggleHighlight(event, this)">
                    <div class="menu_element">
                        <div class="menu_icons center">                
                            <img src="./assets/img/summary.png" alt="Summary">
                        </div>
                        <span>Summary</span>
                    </div>    
                </div>
            </a>

            <a href="../../add_task.html">
                <div class="menu_element_container" onclick="toggleHighlight(event, this)">
                    <div class="menu_element">
                        <div class="menu_icons center">                
                            <img src="./assets/img/edit_square.png" alt="Add Task">
                        </div>
                        <span>Add Task</span>
                    </div>    
                </div>
            </a>

            <a href="../../board.html">
                <div class="menu_element_container" onclick="toggleHighlight(event, this)">
                    <div class="menu_element">
                        <div class="menu_icons center">                
                            <img src="./assets/img/board.png" alt="Board">
                        </div>
                        <span>Board</span>
                    </div>    
                </div>
            </a>

            <a href="../../contacts.html">
                <div class="menu_element_container" onclick="toggleHighlight(event, this)">
                    <div class="menu_element">
                        <div class="menu_icons center">                
                            <img src="./assets/img/perm_contact_calendar.png" alt="Contacts">
                        </div>
                        <span>Contacts</span>
                    </div>    
                </div>
            </a>
        </div>
    
        <div class="side_nav_footer">
            <a class="side_nav_footer_link" href="../../PrivacyPolicy.html">Privacy Policy</a>
            <a class="side_nav_footer_link" href="../../legal_notice.html">Legal Notice</a>
        </div>
    </nav>
</body>
</html>
    
    
    