<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="css/sidenav.css">
    <title></title>
</head>
<body>
    <script>
        // Überprüfe den ausgewählten Zustand beim Laden der Seite
        document.addEventListener('DOMContentLoaded', function () {
            const currentPage = window.location.pathname.split('/').pop();
            const menuItems = document.querySelectorAll('.menu_element_container');
        
            menuItems.forEach(item => {
                if (item.getAttribute('data-href') === currentPage) {
                    item.classList.add('selected');
                }
            });
        });
        
        const menuItems = document.querySelectorAll('.menu_element_container');
        
        menuItems.forEach(item => {
            item.addEventListener('click', function() {
                const href = item.getAttribute('data-href');
                if (href) {
                    // Entferne die "selected"-Klasse von allen Menüelementen
                    menuItems.forEach(menuItem => {
                        menuItem.classList.remove('selected');
                    });
        
                    // Setze die "selected"-Klasse für das angeklickte Menüelement
                    item.classList.add('selected');
        
                    // Navigiere zur verlinkten Seite
                    window.location.href = href;
                }
            });
        });
        </script>
    <nav>
        <a href="summary.html">
            <img src="./assets/img/joinLogoLight.png" alt="Join Logo">
        </a>
        <div class="side_menu">
                <div data-href="../../summary.html" class="menu_element_container"  onclick="navigateToPage(this, '../../summary.html')">
                    <div class="menu_element">
                        <div class="menu_icons center">                
                            <img src="./assets/img/summary.png" alt="Summary">
                        </div>
                        <span>Summary</span>
                    </div>    
                </div>
            
                <div data-href="../../add_task.html" class="menu_element_container" onclick="navigateToPage(this, '../../ass_task.html')">
                    <div class="menu_element">
                        <div class="menu_icons center">                
                            <img src="./assets/img/edit_square.png" alt="Add Task">
                        </div>
                        <span>Add Task</span>
                    </div>    
                </div>
            
                <div data-href="../../board.html" class="menu_element_container" onclick="navigateToPage(this, '../../board.html')">
                    <div class="menu_element">
                        <div class="menu_icons center">                
                            <img src="./assets/img/board.png" alt="Board">
                        </div>
                        <span>Board</span>
                    </div>    
                </div>
           
                <div data-href="../../contacts.html" class="menu_element_container" onclick="navigateToPage(this, '../../contacts.html')">
                    <div class="menu_element">
                        <div class="menu_icons center">                
                            <img src="./assets/img/perm_contact_calendar.png" alt="Contacts">
                        </div>
                        <span>Contacts</span>
                    </div>    
                </div>
            
        </div>
    
        <div class="side_nav_footer">
            <a class="side_nav_footer_link" href="../../PrivacyPolicy.html">Privacy Policy</a>
            <a class="side_nav_footer_link" href="../../legal_notice.html">Legal Notice</a>
        </div>
    </nav>
</body>
</html>
    
    
    